In [20]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

from datetime import datetime
from dateutil.relativedelta import *
from prophet import Prophet
from sklearn import preprocessing
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

import itertools
from typing import List

## Load trained Prophet model

In [21]:
import pickle

with open("model_prophet.pkl", 'rb') as f:
    model = pickle.load(f)

## Generate future dataframe of 1 day

In [14]:
future_pd = model.make_future_dataframe(
    periods = 24,
    freq = 'h',
    include_history=False
)

## Add additional features

In [29]:
def season_calc(month):
    """ Adding season based on general understanding since we aren't aware of which city this data is from.
        months from June to October are denoted as 'summer' and months from November to May as 'winter'. """
    
    if month in [6,7,8,9,10]:
        return "0"
    else:
        return "1"
    

future_pd['year'] = future_pd.ds.dt.year
future_pd['month'] = future_pd.ds.dt.month
future_pd['day'] = future_pd.ds.dt.day
future_pd['hour'] = future_pd.ds.dt.hour
future_pd['weekday_cat'] = future_pd.ds.dt.weekday
future_pd['season_cat'] = future_pd.ds.dt.month.apply(season_calc)

# Adding holidays column to indicate whether a day was a holiday assuming this data is from US

cal = calendar()
holidays = cal.holidays(start = future_pd['ds'].min(), end = future_pd['ds'].max())
future_pd['holiday'] = future_pd['ds'].isin(holidays)

# converting the holiday column to 1 and 0, 1 indicating a holiday and 0 not a holiday

mapped = {True:1, False:0}
future_pd.holiday = future_pd.holiday.map(mapped)

#adding in another column which indicates 'non-working' days which include weekends and holidays
future_pd['non_working_cat'] = future_pd.apply(lambda x: '0' if \
                                          ((x['holiday'] == 1) or (x['weekday'] in [5, 6]))
                                           else '1', axis = 1)

future_pd.head()

,ds,year,month,day,hour,weekday,season,holiday,non_working,weekday_cat,season_cat,non_working_cat
0,2018-08-03 01:00:00,2018,8,3,1,4,0,0,1,4,0,1
1,2018-08-03 02:00:00,2018,8,3,2,4,0,0,1,4,0,1
2,2018-08-03 03:00:00,2018,8,3,3,4,0,0,1,4,0,1
3,2018-08-03 04:00:00,2018,8,3,4,4,0,0,1,4,0,1
4,2018-08-03 05:00:00,2018,8,3,5,4,0,0,1,4,0,1

## Add model regressors to future df

In [30]:
def add_model_regressors(model, regressors: List[str]):    
    
    for reg in regressors:
        model.add_regressor(f'{reg}', standardize=False)
    
    return model

## Generate predictions

In [31]:
# predict over the dataset

predictions_fb = model.predict(future_pd)

In [34]:
predictions_fb[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

                    ds      yhat  yhat_lower  yhat_upper
0  2018-08-03 01:00:00 32,602.08   25,615.24   40,431.94
1  2018-08-03 02:00:00 31,398.04   24,260.34   38,666.72
2  2018-08-03 03:00:00 30,334.83   23,325.87   37,482.86
3  2018-08-03 04:00:00 29,901.46   22,805.72   37,221.84
4  2018-08-03 05:00:00 30,502.74   23,247.56   38,201.08
5  2018-08-03 06:00:00 32,091.60   24,799.32   39,905.69
6  2018-08-03 07:00:00 34,138.96   26,459.71   41,573.29
7  2018-08-03 08:00:00 35,979.01   28,221.37   43,160.48
8  2018-08-03 09:00:00 37,230.28   29,943.66   44,630.43
9  2018-08-03 10:00:00 37,941.53   30,184.66   44,836.75
10 2018-08-03 11:00:00 38,385.28   31,049.58   45,559.41
11 2018-08-03 12:00:00 38,745.17   31,289.92   46,132.41
12 2018-08-03 13:00:00 39,004.62   31,570.86   47,165.14
13 2018-08-03 14:00:00 39,101.65   31,705.34   46,172.69
14 2018-08-03 15:00:00 39,128.55   31,757.67   47,227.43
15 2018-08-03 16:00:00 39,318.58   32,248.73   46,298.16
16 2018-08-03 17:00:00 39,805.97   32,228.76   47,412.44
17 2018-08-03 18:00:00 40,409.39   33,047.73   47,902.82
18 2018-08-03 19:00:00 40,693.16   32,968.50   47,979.68
19 2018-08-03 20:00:00 40,289.72   33,185.17   47,599.14
20 2018-08-03 21:00:00 39,194.89   31,853.47   46,641.30
21 2018-08-03 22:00:00 37,755.38   30,298.21   45,590.78
22 2018-08-03 23:00:00 36,359.82   28,795.62   43,393.17
23 2018-08-04 00:00:00 31,880.47   24,187.91   39,232.46